# Ignore bundler config.
bobbin_api/.bundle

# Ignore the specific database config file.
bobbin_api/config/database.yml

# Ignore all logfiles and tempfiles.
bobbin_api/log/*.log
bobbin_api/tmp

# Ignore other unneeded files.
bobbin_api/doc/
bobbin_api/*.swp
bobbin_api/*~
bobbin_api/.project
bobbin_api/.DS_Store
bobbin_api/.idea
bobbin_api/.secret

# Ignore bundler gems.
bobbin_api/vendor/bundle

# Ignore application's specific configuration file
bobbin_api/config/credentials.yml.enc
bobbin_api/config/master.key

# Ignore files related to IDE
bobbin_api/.vscode
bobbin_api/.idea/
bobbin_api/.rubymine*
bobbin_api/.ruby-version
bobbin_api/.ruby-gemset

# Ignore node modules
bobbin_api/node_modules

# Ignore precompiled assets for production environment
bobbin_api/public/assets