@tailwind base;
@tailwind components;
@tailwind utilities;

.top-bg {
  background: linear-gradient(#ff9c74, #ffe3d9);
}

.top-circles {
  background: url("/background.png") center/cover;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ccc;
}

.hover-info-wrapper:hover .hover-info {
  display: block;
}

.hover-option:hover {
  background: #eee;
}
